.container{
    
    margin-left: 200pt;
    padding-left: 100pt;
}

h1 {
    text-align: center;
}

#footer {
    text-align: center;
}

.container-table{
    padding: 0px 40px 0px 100px;
}

.no-registro {
    margin-top: 40px;
}

.container-form{
    margin-left: 25%;
    padding-left: 100pt;
}

.logout{
    text-align: right;
    margin-right: 50px;
    padding-top: 40px;
}