.container{
    
    margin-left: 200pt;
    padding-left: 100pt;
}

h1 {
    text-align: center;
}

#footer {
    text-align: center;
}

.container-table{
    padding: 40px 100px;
}

.no-registro {
    margin-top: 40px;
}